:root {
  --dark-blue-elements: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray-input: hsl(0, 0%, 52%);
  --very-light-gray-bg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --shadow: hsla(0, 0%, 0%, 0.1);

  /* Font family */
  --font-main: "Nunito Sans", sans-serif;

  /* Font weights */
  --fw-300: 300;
  --fw-600: 600;
  --fw-800: 800;

  /* Font sizes */
  --fs-homepage: 0.875rem;
  --fs-detail: 1rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fon-main);
}

img,
svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
